<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="author" content="Ivan Rodriguez">

    <title><%= content_for?(:title) ? yield(:title) : "Asistencia integral a mayores" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    params[:controller] %>
    <% if defined?(@specific_css) != nil %>
      <% @specific_css.each do |specific| %>
      <%= stylesheet_link_tag (specific || '') %>
      <% end %>
    <% end %>

    <%= include_gon %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <% if defined?(@specific_js) != nil %>
      <% @specific_js.each do |specific| %>
      <%= javascript_include_tag (specific || ''), :defer => "defer" %>
      <% end %>
    <% end %>
    <%= javascript_include_tag "application", :defer => "defer" %>
    <%= javascript_include_tag (params[:controller]), :defer => "defer" %>
    
    <%= csrf_meta_tags %>
  </head>

  <body ng-cloak ng-app="play" ng-controller="layoutCtrl as layout">
      


  <nav ng-hide="layout.phone" class="top-bar" data-topbar role="navigation">
    <ul class="middle tab-bar-section">
      <li class="name">
        <h1><%= image_tag "VueForgePlay.png", class: "logo" %></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">

      <!-- Right Nav Section -->
      <ul class="right">
        <li class="active"><a href="http://playbyaltran.appspot.com/admin.html"><i class="fa fa-diamond"></i> Administraci贸n Play</a></li>
        <li class="has-dropdown">
          <a href="#"><i class="fa fa-user"></i> Mi cuenta</a>
          <ul class="dropdown">
            <li><a href="#">Mis datos</a></li>
            <li><a href="#">Salir</a></li>
          </ul>
        </li>
      </ul>

    </section>
</nav>

  <!-- Left Nav Sidebar -->

<nav ng-hide="layout.phone" class="large-1 columns left-nav">
  <div class="icon-bar vertical five-up">
    <a class="item" href="/#/dashboard">
        <i class="fi-info"></i>
        <label>Dashboard</label>
    </a>
    <a class="item" href="/#/dashboard">
      <i class="fi-wrench"></i>
      <label>Administraci贸n</label>
    </a>
  </div>
</nav>

<section id="phone-section" class="phone-view" ng-class="{'slidification': layout.slidification}" ng-swipe-right="layout.slideBoxRight(layout.selected)" ng-swipe-left="layout.slideBoxLeft(layout.selected)">
<nav class="phone-nav">
<div ng-if="layout.phone" class="primary title-bar">
<div class="center title">Play by altran</div>
<span class="left"><a href="#"> </a></span>
<span class="right"><a href="#" zf-toggle="my-actionsheet"></a>
  
  
  <zf-action-sheet id="my-actionsheet">
  <zf-as-button><i class="fi-list"></i></zf-as-button>
  <zf-as-content position="bottom">
    <ul>
      <li ><a href="#" id="account1">Mis datos</a></li>
            <li ><a href="#" id="account2">Salir</a></li>
        </ul>
  </zf-as-content>
  </zf-action-sheet>
</span>

</div>

<ul class="dark menu-bar" ng-animate-children ng-if="layout.phone">
  <li ng-animate ng-click="layout.enableBox(1)" ng-class="{'is-active': layout.selected === 1}"><a href="#"><i class="fi-torsos-all"></i></a></li>
  <li ng-animate ng-click="layout.enableBox(2)" ng-class="{'is-active': layout.selected === 2}"><a href="#"><i class="fi-map"></i></a></li>
  <li ng-animate ng-click="layout.enableBox(3)" ng-class="{'is-active': layout.selected === 3}"><a href="#"><i class="fi-graph-trend"></i></a></li>
  <li ng-animate ng-click="layout.enableBox(4)" ng-class="{'is-active': layout.selected === 4}"><a href="#"><i class="fi-alert"></i></a></li>
</ul>

</nav>

<div class="fill-box dashboard-phone" ng-if="layout.phone" ui-view="viewMobile"></div>

</section>

<section ui-view="viewNormal" ng-if="!layout.phone" class="large-11 small-12 columns">
</section>

<footer class="footer-basic-centered" ng-hide="layout.phone">

  <p class="footer-company-motto">Play by Altran.</p>

  <p class="footer-links">
    <a href="#">Altran</a>
    路
    <a href="#">Orange</a>
    路
    <a href="#">Play by Altran</a>
  </p>

  <p class="footer-company-name">Altran &copy; 2015</p>

</footer>
    
  </body>
</html>