<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="author" content="Ivan Rodriguez">

    <title><%= content_for?(:title) ? yield(:title) : "PlayByAltran" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    params[:controller] %>
    <% if defined?(@specific_css) != nil %>
      <% @specific_css.each do |specific| %>
      <%= stylesheet_link_tag (specific || '') %>
      <% end %>
    <% end %>

    <%= include_gon %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <% if defined?(@specific_js) != nil %>
      <% @specific_js.each do |specific| %>
      <%= javascript_include_tag (specific || ''), :defer => "defer" %>
      <% end %>
    <% end %>
    <%= javascript_include_tag "application", :defer => "defer" %>
    <%= javascript_include_tag (params[:controller]), :defer => "defer" %>
    
    <%= csrf_meta_tags %>
  </head>

  <body ng-app="play">
      
    <nav class="tab-bar">
      <div class="middle tab-bar-section"><%= link_to("Smart Care", root_path) %></div>
      <section class="right-small">
        <a href="#" class="right-off-canvas-toggle">
         <i class="fi-torso account-icon"></i>
        </a>
      </section>
    </nav>
   
    <nav class="icon-bar large-vertical six-up left" role="navigation">
<!--           <%#= link_to dashboard_path, :class => "item" do %>
      <i class="fi-home"></i>
        <label>Dashboard</label>
      <%# end %>      -->      

      <a class="item">
        <i class="fi-info"></i>
        <label>Dashboard</label>
      </a>

    </nav>

    <%= yield %>


    
  </body>
</html>