<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="author" content="Ivan Rodriguez">

    <title><%= content_for?(:title) ? yield(:title) : "PlayByAltran" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    params[:controller] %>
    <% if defined?(@specific_css) != nil %>
      <% @specific_css.each do |specific| %>
      <%= stylesheet_link_tag (specific || '') %>
      <% end %>
    <% end %>

    <%= include_gon %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <% if defined?(@specific_js) != nil %>
      <% @specific_js.each do |specific| %>
      <%= javascript_include_tag (specific || ''), :defer => "defer" %>
      <% end %>
    <% end %>
    <%= javascript_include_tag "application", :defer => "defer" %>
    <%= javascript_include_tag (params[:controller]), :defer => "defer" %>
    
    <%= csrf_meta_tags %>
  </head>

  <body ng-app="play">
      


  <nav class="top-bar" data-topbar role="navigation">
    <ul class="middle tab-bar-section">
      <li class="name">
        <h1><%= image_tag "VueForgePlay.png", class: "logo" %></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">

      <!-- Right Nav Section -->
      <ul class="right">
        <li class="active"><a href="#"><i class="fa fa-diamond"></i> Go PRO</a></li>
        <li class="has-dropdown">
          <a href="#"><i class="fa fa-user"></i> Mi cuenta</a>
          <ul class="dropdown">
            <li><a href="#">Mis datos</a></li>
            <li><a href="#">Salir</a></li>
          </ul>
        </li>
      </ul>

      <!-- Left Nav Section 
      <ul class="left">
        <li><a href="#"><i class="fa fa-database"></i> ONE</a></li>
        <li><a href="#"><i class="fa fa-list-ol"></i> TWO</a></li>
        <li><a href="#"><i class="fa fa-users"></i> THREE</a></li>
      </ul>
      -->
    </section>
</nav>

  <!-- Left Nav Sidebar -->

<nav class="large-1 columns left-nav">
  <div class="icon-bar vertical five-up">
    <a class="item">
        <i class="fi-info"></i>
        <label>Dashboard</label>
      </a>
  </div>
</nav>

    <%= yield %>


    
  </body>
</html>